.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
#root{
  width: 100%;
  height: 100%;
   display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f8e9;
}
#main{
  width: 100%;
  height: 100%;
   display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f1f8e9;
 
}
nav{
  position: absolute;
  a{
    width: 100%;
    text-align: center;
    margin: 0;
    
  }
}
.timer{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.time{
  h1{
    font-size: 3em;
    text-align: center;
  }
  h2{
    font-size: 9em;
    text-align: center;
    font-weight: 700;
  }

}
.form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
 
}
.more{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;

  .btn{
    margin: 15px 10px;
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    width: 80px;
  }
  margin-bottom: 2.8rem;
}
footer{
  width: 100%;
  position: absolute;
  bottom: 0;
 
  h1{
  
    text-align: center;
    padding: 0;
    margin-top: 0;
    font-size: 1em;
  }
}


.break {
  display: block;
  height: 1px;
  width: 100%;
}
 
@media screen and (min-width: 500px) {
  .break {
    display: none;
  }
}